<h1>Calcolatrice</h1>

<div class="display">0</div>

<div class="num-buttons">
    <div class="button button-1">1</div>
    <div class="button button-2">2</div>
    <div class="button button-3">3</div>
    <div class="button button-4">4</div>
    <div class="button button-5">5</div>
    <div class="button button-6">6</div>
    <div class="button button-7">7</div>
    <div class="button button-8">8</div>
    <div class="button button-9">9</div>
    <div class="button button-0">0</div>
</div>

<div class="operator-buttons">
    <div class="button button-m">x</div>
    <div class="button button-d">/</div>
    <div class="button button-a">+</div>
    <div class="button button-s">-</div>
</div>

<button class="equals">=</button>